<!DOCTYPE html>
<html>

    <head>
        <meta name="google-site-verification" content="zjP3Iq6svg--IJD0_AdNO_M7X7iHx5A0IduedSIat00" />
        <script data-ad-client="ca-pub-6432146328782441" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <title>About</title>
        <link rel='icon' href='/img/icon.png'>
        <link rel='stylesheet' href='/css/style.css'>
        
    </head>
    
    <body>
        <div class='flex'>
            {{>header}}
            <img class='piano' alt='profile picture' src='/img/bruce.jpg'>
        </div>
        {{>footer}}
        
    </body>

</html>