<!DOCTYPE html>
<html>

    <head>
        <title>About</title>
        <link rel='icon' href='/img/icon.png'>
        <link rel='stylesheet' href='/css/style.css'>
        
    </head>
    
    <body>
        <div class='flex'>
            {{>header}}
            <img class='piano' alt='profile picture' src='/img/bruce.jpg'>
        </div>
        {{>footer}}
        
    </body>

</html>