<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="It is a simple weather application using mapbox and darksky api's.And some node-js">
        <meta name="keywords" content="weather app,weather io,dsk-weather-io, weather herokuapp,herokuapp">
        <meta name="author" content="Krishnaprasanth.D.V (BeastDsk)">

        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=6.0">
        <title>Weather | Get The Weather</title>
        <link rel="icon" href="/img/sky.png">
        <link rel='stylesheet' href="/css/style.css">

    </head>

<body class="error">
    <div class="error-container">
        <h1>oops (-_-)</h1>
        <h3>Error 404</h3>
        <h3>Page not found</h3>
        <p>I am working on it</p>
    </div>
    
</body>
</html>