<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description"
        content="WeatherIO is a simple and easy to use online Weather Application to get the weather data for a specific location." />
    <meta name="keywords"
        content="krishnaprasanth D V, krishnaprasanth DSK, DSK, weather heroku, krishnaprasanth, weather app,weather io,dsk-weather-io, weather herokuapp,herokuapp" />
    <meta name="author" content="DSK" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>WeatherIO | CS</title>

    <link rel="icon" href="/img/sky.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <script>
        document.addEventListener("readystatechange",(e)=>{
            if(document.readyState==="complete")
            {
                setTimeout(()=>{
                    document.querySelector(".loading-screen").style.display = "none";
                }, 500);
            }
        })
    </script>
</head>

<body class="center-vh">
    <div class="error-container center-vh">
        <h3>OOP'S (-_-)</h3>
        <h3>ERROR 404</h3>
        <h3>PAGE NOT FOUND</h3>
        <p>I am working on it</p>
    </div>
    
</body>
</html>