<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Error 404</title>
        <link rel='icon' href='/img/icon.png'>
        <link rel='stylesheet' href='/css/style.css'>
        <link rel='stylesheet' href='/css/shared.css'>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    </head>
    
    <body>
        {{>header}}
        <div class='error' style="margin-bottom:35%">
            <p>{{error}}</p>
        </div>
    </body>
    {{>footer}}

</html>