<!DOCTYPE html>
<html>

    <head>
        <title>Help</title>
        <link rel='icon' href='/img/icon.png'>
        <link rel='stylesheet' href='/css/style.css'>
    </head>
    
    <body>
        <div class="flex">
            {{>header}}
            <p>If you have any queries than contact me via :-</p>
            <ol class='list'>
                <li>gmail : dhawansaran14346@gmail.com</li>
            </ol>
        </div>
        {{>footer}}
    </body>

</html>