<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">

        <meta name="description" content="It is a simple weather application using mapbox and darksky api's.And some node-js">
        <meta name="keywords" content="weather app,weather io,dsk-weather-io, weather herokuapp,herokuapp">
        <meta name="author" content="Krishnaprasanth.D.V (BeastDsk)">
        <meta http-equiv="refresh" content="30">

        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
        <title>Weather | Get The Weather</title>
        <link rel="icon" href="/img/sky.png">
        <link rel='stylesheet' href="/css/style.css">

    </head>

    <body>
        <main class="container">
            <h1 class="heading-primary">Weather<img src="/img/day.svg" alt="weather icon"></h1>

            <section class="form--section">
                <div class="form">
                    <form>
                        <input type="text" id="location" placeholder="Location">
                        <label for="location" class="label" >Location</label>
                    </form>
                </div>

                <p>(OR)</p>

                <div class="btn-current">
                    <button class="current" onclick="current();">
                        <span>
                            Current Location
                        </span>
                    </button>
                </div>

                <div class="weather-data">
                    <p class="res"></p>
                    <img class="result-img">
                    <p class="result-place"></p>
                    <p class="result-type"></p>
                    <p class="result-temprature"></p>
                    <p class="result-rain"></p>
                </div>

            </section>
            <footer class="footer">
                <p>Made with<img class="heart"
                src="/img/heart.svg" alt="heart"> By Krishnaprasanth (BeastDsk)</p>
            </footer>
        </main>

        <script src="/js/main.js" async defer></script>
    </body>
</html>