/* styling for header */

.main-header{
    width: 100vw;
    background-color: rgb(8, 73, 73);
    color: rgba(255, 255, 255, 0.877);
    vertical-align: middle;
    position: sticky;
    top: 0;

}

img{
    width: 30px;
    margin-left: 1rem;
    vertical-align: middle;
}

.error{
    width: 30%;
    margin: 3rem auto;
    text-align: center;
    border:1px solid white ;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.795);
}

.main-header > a{
    padding: 0.4rem 2rem 0.4rem 0; 
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.877);
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    text-decoration: none;
}

.logo:hover,
.logo:active{
    color: rgba(6, 113, 139, 0.836);
}

.menu{
    display: inline-block;
    vertical-align: middle;
}

.menu-items , .menu-item{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

.menu-item-link{
    text-decoration: none;
    color: rgba(31, 31, 31, 0.863);
    margin-right: 2rem;
    padding: 0.3rem 0;
    font-weight: 600;
}

.menu-item-link:hover,
.menu-item-link:active{
    animation: col 1s ease-out;
    border-bottom: 4px solid white;
    color: white;
    backface-visibility: hidden;
}

/* Styling For Footer */
.main-footer{
    margin-top: 4rem;
    background-color: rgba(0,0,0,0.9);
    padding: 1rem;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    color: white;
}

@keyframes col{
    0%{
        color: black;
        border-bottom: none;
        width: 0%;
    }
    100% {
        color: white;
        border-bottom: 4px solid white;
        width: 100%;
    }
}