*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    font-family: 'open sans';
    overflow-x: hidden;
}

.list{
    margin-left: 4rem;
}

/* Styling For Main Content */
.main-content{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/fog.jpg') center/cover;
    width: 100vw;
    height: 60vh;
}

.content{
    position: relative;
    width: 50%;
    margin: auto auto;
    text-align: center;
    color: white;
    top: 60%;
}

p{
    margin: 1rem;
}

.location{
    color: rgba(0, 0, 0, 0.74);
    width: 20vw;
    background-color:white;
    border: 1px solid white;
    outline: none;
    padding: 0.7rem;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.74);
    transition: width 1s;
}

.location:hover,
.location:active {
    width: 30vw;
    border-bottom: 2px solid greenyellow;
    
}

.check-current{
    font-family: "open sans";
    outline: none;
    padding: 0.7rem 1.4rem;
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    background: black;
    border: none;
}

.check-current:hover,
.check-current:active{
    color:black;
    background: white;

}

.weather-report{
    margin-top: 3rem;
    width: 70%;
    display: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 3rem auto 3rem auto;
    border-left: 4px solid rgb(68, 157, 240);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.6);
}



