<header class="main-header">
            <img src="/img/sky.png" alt=" "> 
            <a href="./" class="logo">Weather IO</a>
     <nav class="menu">
        <ul class="menu-items">
            <li class="menu-item">
                <a href="/about" class="menu-item-link">About Me</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" href="/help">Contact</a>
            </li>
        </ul>
    </nav>
</header>